body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #4c59c1;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 75px;
    margin: 0;
    color: white;
}


button {
    display: flex;
    background-color: #1860cc;
    border: none;
    color: white;
    cursor: pointer;
    margin: 20px 0 0 80px;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0b5394;
}

#search-history {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: calc(100% - 100px);
    overflow-y: auto;
}

.history-item {
    background-color: #c1c3c3;
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

.history-item:hover {
    background-color: #0b5394;
}

#current-weather, #forecast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.weather-card {
    color: #ffffff;
    background-color: rgb(142, 144, 175);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 5px;
    width: 200px;
    text-align: center;
}

.left-sidebar {
    position: fixed;
    top: 130px;
    left: 0;
    width: 500px;
    height: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
}

.left-sidebar form {
    display: block;
}

.left-sidebar input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
}

label {
    color: rgb(3, 3, 3);
    font-size: 50px;
    padding-top: 45px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}